<div class="top">
    <div class="title">
        <span class="menu-icon"><i></i><i></i><i></i></span>
        <span class="title-txt">
            集团端CMS管理系统
        </span>
    </div>
    <div class="user-title">
        测试集团（JT00000003）
    </div>
    <div class="user-login">
        <span class="user-name">欢迎您,ceshijituan</span>
        <span class="full"><i></i><em class="bigiconfont">&#xe70d;</em></span>
        <span class="logout"><i></i><em class="iconfont">&#xe618;</em></span>
    </div>
</div>